/* Page Layout */

* {padding: 0; margin: 0;}
body {font-size:62.5%;font-family: 'Lucida Grande', Sans-Serif; color:#555;}
#wrapper {margin: 0 auto; padding: 0; width: 960px;}
.header {padding-bottom: 20px; text-align:center; width:35%; padding-top: 20px;}
.banner_right {line-height: 100%;font-size: 12px;font-weight: normal;text-align:center;padding-left:25px;}
.left_advertising {text-align:center;}
.right_advertising {text-align:center;}
.sign_up_sites {padding-bottom: 20px;padding-left:30px;line-height: 175%;font-size: 16px;font-style: normal;font-weight: normal}
.sign_up_sites a {color: #26a;text-decoration: none}
.sign_up_sites a:hover {background:#ffc}
#content {padding-top:20px;padding-bottom: 20px;font-size: 140%;line-height:150%; width:576px; float:left;}
a {color: #26a;text-decoration: none;}
a:hover {background:#ffc;}
#sidebar {width:300px; float:right; padding-top:20px;}
.clear {
	clear: both;
}
fieldset {padding:20px;}
#content ul {list-style:disc;position:static;float:none;}
#content li {padding-left:5px;margin-left:30px;position:static;float:none;}
#footer {font-size: 1.1em;font-style: normal;font-weight: normal;color:#fff; background:#225d73; padding:28px; 
	     border-top:solid 2px #000099; margin-top:20px; min-width:980px;}
#footer a {color: #fff; text-decoration: none}
#footer a:hover {color: #cbe3ec;text-decoration:underline;background:none;}
#footercontent {margin: 0 auto;width: 960px;}
.whitespace {background:#ffffff; border:solid 2px #000099;}
.side {display:block;}
.side ul {list-style: none;}
.side ul li {display: inline; padding:8px;}
.browserIE .side ul li {display:inline; padding:8px;}
#clear {clear:both}
#you_tube {position:static;float:left;padding-right:35px;padding-bottom:15px;display:block}

.ad1 {
	
}
.ad2 {

}

.fwidth {
	max-width: 350px;
}

/* FAQ toggle */

.faq-answer {display:none;padding-left:15px;}
.big {font-size:20px;font-weight:bold;text-transform:uppercase;}

.browserIE ul li {display:block;}

/* Text Properties */
p {margin: 0.7em 0 0.7em;}
hr {margin-top:30px;margin-bottom:30px;}
h2, h3, h4, h5, h6 {font-family: 'Trebuchet MS', 'Lucida Grande', Arial, Sans-Serif;font-weight: bold;text-transform:uppercase;
						line-height: 1.6em;margin: 0.7em 0 0.7em;}
h1 { font-size: 1.5em;font-family: 'Trebuchet MS', 'Lucida Grande', Arial, Sans-Serif;font-weight: bold;text-transform:uppercase;
	 line-height: 1.6em;margin: 0.7em 0 0.7em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
.indent {margin-left:15px;padding-bottom:20px;}
.important_money {font-size: 95%;color:#666;font-weight: bold}
.title {font-size: 12px;font-weight: normal}
.steps {font-size: 18px;font-weight: bolder;color: #000000;text-decoration: blink}
.totals {font-size: 24px;font-weight: bold;color: #000000;padding-bottom:20px;}
.notes {font-size: 9px;font-style: normal}
.comment {font-size:9px;color:#0e4b8f;font-family: Arial, Helvetica, sans-serif;font-style:italic;}
.signup_links {font-size: 16px;font-style: normal;font-weight: normal}
.proof table {border-width:0 1px 1px 0;border-style:solid;border-color:#ccc;font-size:0.9em;}
.proof table tr td {padding:5px 10px;border-width:1px 0 0 1px;border-style:solid;border-color:#ccc;}
.proof table tr th {border-width:1px 0 0 1px;border-style:solid;border-color:#ccc;padding:5px 10px;background:#f4f4f4;color:#666;
					font-weight:bold;text-transform:uppercase;text-align:center;}
.container{width:245px;border:none;margin:0;}
.hover{position:absolute;display:none;z-index:999;width:245px;height:108px;background:url(Assets/tooltip.png) no-repeat;}
.hover p{margin:1em;text-align:center}
a img{ border: none; text-decoration:none; background:#ffffff;}
a:hover img {border: none; text-decoration:none; background:#ffffff;}

/*navigation*/

#top {background:#80c5df; min-width:980px;}
.navtop {padding: 25px;}
.navtop ul {list-style: none;}
.navtop ul li {display: inline;}
.navtop ul li a {padding: 8px 10px;color: #fff;font-size: 160%;font-weight: bold;}
.navtop ul li a:hover {background:none;color: #347a94;}
.navtop ul li.currentp a {background: #161f23;color: #e8f0f3;-moz-border-radius:8px;-webkit-border-radius:8px;
						  -opera-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;}
.search {top:20px;}
.search input {height:25px;}
#hmenu {margin:0;padding:5px 0 10px;}
#hmenu ul {display:inline;margin:0;padding:0;}
#hmenu ul li {padding:0;display:inline;margin:0 20px 0 0;}
#hmenu ul li {font-size:1.2em;font-weight:bold;text-transform:uppercase;}	
#tophmenu, #hmenu {background:url('http://www.signupandmakemoney.com/Assets/border_h.png') repeat-x bottom;padding-top:10px;}